/*********************************************************************************/
/* header-wrapper                                                                */
/*********************************************************************************/



body
{
	width:100%;
	margin: 0;
}
#header-wrapper
{
	height:5em;
	background-color: #FFDE5E;
	margin-bottom: 2em;
}
#header-wrapper #logo
{
	display:block;
	float:left;
	padding-left: 2em;
}

#header-wrapper #logo img{
	width: 8em;
	padding-top: 3px;
}
#header-wrapper #logo::after{
	clear: both;
}

/* Everything CSS Sprite Menu */
ul#menu
{	
	margin:0; 
	padding:0;
	list-style:none;
	/*clear:both;*/
}
#Left-nav #menu li
{	
	overflow:hidden;
	text-indent:-9999px;
	display:inline;
	float:left;
	margin-right:2px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	padding-left: 2em;
	padding-top: 1.25em;
}
#Right-nav #menu li
{	
	overflow:hidden;
	text-indent:-9999px;
	display:inline;
	float:right;
	margin-right:2px;
	margin-bottom: 2px;
	padding-right: 2em;
	padding-bottom: 0;
	padding-top: 1.25em;
}
#menu li a
{	
	background:url('images/menu.png') no-repeat;
	width:100%;
	height:100%;
	display:block;
}

/* event Button */

#Left-nav li.event
{	
	width:115px;
	height:60px;
}
#Left-nav li.event a
{	
	background-position:-5px -5px;
}
#Left-nav li.event a:hover
{	
	background-position:-5px -75px;
}
#Left-nav li.event a.selected
{
	background-position:-5px -145px;
}

/* ShareTable Button */

#Left-nav li.ShareTable
{
	width:120px;
	height:60px;
}
#Left-nav li.ShareTable a
{
	background-position:-125px -5px;
}
#Left-nav li.ShareTable a:hover
{
	background-position:-125px -75px;
}
#Left-nav li.ShareTable a.selected
{
	background-position:-125px -145px;
}

/* ngo Button */

#Left-nav li.ngo
{
	width:120px; 
	height:60px;
}
#Left-nav li.ngo a
{
	background-position:-250px -5px;
}
#Left-nav li.ngo a:hover
{
	background-position:-250px -75px;
}
#Left-nav li.ngo a.selected
{
	background-position:-250px -145px;
}

/* login Button */

#Right-nav li.login
{
	width:100px;
	height:60px;
}
#Right-nav li.login a
{
	background-position:-450px -5px;
}
#Right-nav li.login a:hover
{
	background-position:-450px -75px;
}
#Right-nav li.login a.selected
{
	background-position:-450px -145px;
}

/* signin Button */

#Right-nav li.signin
{
	width:80px;
	height:60px;
}
#Right-nav li.signin a
{
	background-position:-370px -5px;
}
#Right-nav li.signin a:hover
{
	background-position:-370px -75px;
}
#Right-nav li.signin a.selected
{
	background-position:-370px -145px;
}
/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/

a{
	text-decoration: none;
	color: rgb(234 , 97 , 48);
}
a:link 
{
	color: rgb(234 , 97 , 48);
}　　　　/*//宣告連結顏色*/
a:visited 
{
	color: rgb(234 , 97 , 48);
}　   　 /*//訪問過連結顏色*/
a:active
{
	color: rgb(234 , 97 , 48);
}　　     /*//執行中連結顏色*/
a:hover
{
	color: rgb(234 , 97 , 48);
}             /*//當滑鼠移到連結時連結顏色*/


.eventDetail_title
{
	text-align:center;
	font:36px/0.3 '微軟正黑體',sans-serif;	
	
	/*版塊樣式*/
	color: rgb(195 , 55 , 30);
	background-color: #ffe187;
	width:700px;
	margin-left: 2em;
	border-radius: 0.5em;
	padding:1em;

}
.event_block
{
	color: rgb(195 , 55 , 30);
	border-radius: 0.5em;
	height:25em;
	width: 20em;
	background-color: #ffe187;
	display: block;
	float: left;
	margin-right: 2em;
	margin-left: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
}
 .event_block img
{
	border-radius: 0.5em;
	height:18em;
	width: 18em;
	padding-left: 1em;
	padding-top: 1em;
	margin:0 auto;
}

.eventDetail_info
{

	color: rgb(195 , 55 , 30);
	font:1em/3em '微軟正黑體',sans-serif;
	 width:400px;
	height: 200px;
	float:left;
	margin-left: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color:rgb(255,220,95);
	border-radius: 2em;
	line-height:1.2em;
}

.eventDetail_info li
{	
	list-style-type:none;
}


.eventDetail_shareBtn
{
	clear:both; 
	text-align:center;
	background-color:rgb(255,220,95);
	border-radius: 2em;
	
	/*版塊樣式*/
	color: rgb(195 , 55 , 30);
	background-color: #ffe187;
	width:700px;
	margin-left: 2em;
	margin-bottom: 2em;
	border-radius: 0.5em;
	padding:1em;
}

.eventDetail_detail
{
	/*版塊樣式*/
	color: rgb(195 , 55 , 30);
	background-color: #ffe187;
	width:700px;
	margin-left: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: 0.5em;
	padding:1em;
	font:1em/3em '微軟正黑體',sans-serif;

}

/*.detail h3
{
	background-color:rgb(255,175,60);
	border-top-left-radius:2em;
	border-top-right-radius:2em;
	text-align: center;
	height: 1em;
	padding: 1em;
	margin-top:0; 
}

.event_info ul
{
	list-style-type: none;
	line-height: 1.5em;
}
  */

/*********************************************************************************/
/* search-bar                                                                    */
/*********************************************************************************/

#mwt_mwt_slider_scroll
{
	top: 0;
	right:-200px;
	width:200px;	
	position:fixed;
	z-index:9999;
}


#mwt_slider_content{
	background:#ffb964;
	text-align:left;
	padding-top:20px;
	padding-left: 1.2em;
}
#mwt_slider_content h3
{
	color:rgb(195,55,30);
}
#mwt_slider_content ul
{
	color:black;
	list-style-type: none;
}
#mwt_slider_content li
{
	line-height: 1.5em;
}
 
#mwt_fb_tab {
	position:absolute;
	top:170px;
	left:-24px;
	width:24px;
	background:#ffb964;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;	
	text-align:center;
	padding:9px 0;
 
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;	
}
#mwt_fb_tab span {
	display:block;
	height:12px;
	padding:1px 0;
	line-height:12px;
	text-transform:uppercase;
	font-size:12px;
}

.search label{
    font-size:0.75em;
    font-weight:bold;
    color:#333;
    text-indent:-9999em;
    display:block;
    float:left;
}
.search input[type="text"]{
    text-indent:1px;
    padding:0 0 0 22px;
    width:0;
    height:22px;
    background:url(http://www.ian-thomas.net/examples/search-icon.png)2px 2px no-repeat, -webkit-linear-gradient(top, rgba(100,100,100,1) 0%,rgba(80,80,80,1) 10%,rgba(22,22,22,1)100%);
    color:#999;
    line-height:20px;
    font-weight:bold;
    -webkit-text-shadow:1px 1px 1pxrgba(0,0,0,0.05);
    text-shadow:1px 1px 1pxrgba(0,0,0,0.05);
    -webkit-border-radius:6px;
    -webkit-box-shadow:1px 1px 0rgba(0,0,0,0.125);
    cursor:pointer;
     width:150px;
}
.search input[type="text"]:focus{
    width:150px;
    outline:none;
    background:url(http://www.ian-thomas.net/examples/search-icon.png)2px 2px no-repeat, -webkit-linear-gradient(bottom,rgba(100,100,100,1) 0%, rgba(40,40,40,1) 2%, rgba(22,22,22,1)100%);
    -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.125);
    cursor:text;
}

/*********************************************************************************/
/* footer                                                                        */
/*********************************************************************************/
footer{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	font-size: 1em;
	color: rgb(234 , 97 , 48);
	clear:both;
	background-color: rgb(255 , 222 , 94);
	height: 18em;
	text-align: center;
}

footer a{
	text-decoration: none;
	color: rgb(234 , 97 , 48);
}
footer a:link 
{
	color: rgb(234 , 97 , 48);
}　　　　/*//宣告連結顏色*/
footer a:visited 
{
	color: rgb(234 , 97 , 48);
}　   　 /*//訪問過連結顏色*/
footer a:active
{
	color: rgb(234 , 97 , 48);
}　　     /*//執行中連結顏色*/
footer a:hover
{
	color: rgb(234 , 97 , 48);
}             /*//當滑鼠移到連結時連結顏色*/

footer ul{
	width: 100%;
	margin: 0;
	padding: 0;
	display: table;
	list-style-type: none;
	line-height: 5em;
}
footer li
{
	display: table-cell;
	text-align: center;
}
footer img
{
	width: 100%;
}