/*********************************************************************************/
/* header-wrapper                                                                */
/*********************************************************************************/
body
{
	width:100%;
	margin: 0;
	margin-bottom: 0;
}

#header-wrapper
{
	height:5em;
	background-color: #FFDE5E;
	margin-bottom: 2em;
}
#header-wrapper #logo
{
	display:block;
	float:left;
	padding-left: 2em;
}

#header-wrapper #logo img{
	width: 8em;
	padding-top: 3px;
}
#header-wrapper #logo::after{
	clear: both;
}
/* Everything CSS Sprite Menu */
ul#menu
{	
	margin:0; 
	padding:0;
	list-style:none;
	/*clear:both;*/
}
#Left-nav #menu li
{	
	overflow:hidden;
	text-indent:-9999px;
	display:inline;
	float:left;
	margin-right:2px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	padding-left: 2em;
	padding-top: 1.25em;
}
#Right-nav #menu li
{	
	overflow:hidden;
	text-indent:-9999px;
	display:inline;
	float:right;
	margin-right:2px;
	margin-bottom: 2px;
	padding-right: 2em;
	padding-bottom: 0;
	padding-top: 1.25em;
}
#menu li a
{	
	background:url('images/menu.png') no-repeat;
	width:100%;
	height:100%;
	display:block;
}

/* event Button */

#Left-nav li.event
{	
	width:115px;
	height:60px;
}
#Left-nav li.event a
{	
	background-position:-5px -5px;
}
#Left-nav li.event a:hover
{	
	background-position:-5px -75px;
}
#Left-nav li.event a.selected
{
	background-position:-5px -145px;
}

/* ShareTable Button */

#Left-nav li.ShareTable
{
	width:120px;
	height:60px;
}
#Left-nav li.ShareTable a
{
	background-position:-125px -5px;
}
#Left-nav li.ShareTable a:hover
{
	background-position:-125px -75px;
}
#Left-nav li.ShareTable a.selected
{
	background-position:-125px -145px;
}

/* ngo Button */

#Left-nav li.ngo
{
	width:120px; 
	height:60px;
}
#Left-nav li.ngo a
{
	background-position:-250px -5px;
}
#Left-nav li.ngo a:hover
{
	background-position:-250px -75px;
}
#Left-nav li.ngo a.selected
{
	background-position:-250px -145px;
}

/* login Button */

#Right-nav li.login
{
	width:100px;
	height:60px;
}
#Right-nav li.login a
{
	background-position:-450px -5px;
}
#Right-nav li.login a:hover
{
	background-position:-450px -75px;
}
#Right-nav li.login a.selected
{
	background-position:-450px -145px;
}

/* signin Button */

#Right-nav li.signin
{
	width:80px;
	height:60px;
}
#Right-nav li.signin a
{
	background-position:-370px -5px;
}
#Right-nav li.signin a:hover
{
	background-position:-370px -75px;
}
#Right-nav li.signin a.selected
{
	background-position:-370px -145px;
}

/*********************************************************************************/
/* content                                                                       */
/*********************************************************************************/
.content{
	padding-bottom: 8em;
}
.content .introduction, .content .QA, .content .contact{
	padding-left: 2em;
}
.content .detail{
	padding: 0 4em 1em 2em;
}
.content hr{
	margin-top: 2em;
	height: 3px;
	border: none;
	border-top: 2px solid rgb(250 , 80 , 5);
	width: 98%;
}
.content h2
{
	color: rgb(250 , 80 , 5);
	line-height: 3em;
	padding-left: 1em;
}
.introduction .detail #title{
	text-align: center;
}
.introduction .detail ul{
	margin-top: 3em;
	line-height: 2em;
}
.introduction .detail span{
	font-size: 1.2em;
}
.QA .detail ul{
	list-style-type: none;
	line-height: 2em;
}
.QA .detail ul li{
	margin-top: 2em;
}
.contact .detail h5{
	font-size: 1.1em;
	float: right;
	margin-right: 10em;
}
/*********************************************************************************/
/* footer                                                                        */
/*********************************************************************************/
footer{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	font-size: 1em;
	color: rgb(234 , 97 , 48);
	clear:both;
	background-color: rgb(255 , 222 , 94);
	height: 18em;
	text-align: center;
}
footer a{
	text-decoration: none;
	color: rgb(234 , 97 , 48);
}
footer a:link 
{
	color: rgb(234 , 97 , 48);
}　　　　/*//宣告連結顏色*/
footer a:visited 
{
	color: rgb(234 , 97 , 48);
}　   　 /*//訪問過連結顏色*/
footer a:active
{
	color: rgb(234 , 97 , 48);
}　　     /*//執行中連結顏色*/
footer a:hover
{
	color: rgb(234 , 97 , 48);
}             /*//當滑鼠移到連結時連結顏色*/

footer ul{
	width: 100%;
	margin: 0;
	padding: 0;
	display: table;
	list-style-type: none;
	line-height: 5em;
}
footer li
{
	display: table-cell;
}
footer img
{
	width: 100%;
}