body{
  background: #FFFFFF;
  font-family: 'Montserrat', Arial;
  font-size: 1em;
}


.ribbon{
  background: rgba(200,200,200,.5);
  width: 50px;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 19px;
  border: 1px solid rgba(255,255,255,.3);
  border-top: 2px solid rgba(255,255,255,.5);
  border-bottom: 0;  
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 3px rgba(0,0,0,.7); 
}
.ribbon:before{
  content:"";
  display: block;
  width: 15px;
  height: 15px;
  background: #4E535B;
  border: 4px solid #cfd0d1;
  margin: 18px auto;
  box-shadow: inset 0 0 5px #000, 0 0 2px #000, 0 1px 1px 1px #A7A8AB;
  border-radius: 100%;
}


.form{
  background: #F1F2F4;
  border-bottom: 2px solid #C5C5C8;
  border-radius: 5px;
  /*text-align: center;*/
  color: #36383C;
  text-shadow: 0 1px 0 #FFF;
  max-width: 500px;
  margin: 0 auto;
  border:solid 50px;
  border-color:#C3371E;
  padding: 15px 40px 20px 40px;
  box-shadow: 0 0 3px #000;
}

.form:before{
  content:"";
  display: block;
  width: 70px;
  height: 4px;
  background: #4E535B;
  border-radius: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 2px solid #CBCBCD;
  margin: 0 auto;
}



input{
  background:rgba(255,255,255,0.7);
  border: 0;
  box-sizing: border-box;
  color: #71747A;
  text-shadow: 0 1px 0 #FFF;
  border-radius: 5px;
}
input:focus{
  outline: none;
}




.io{
  padding: 0;
  padding-bottom: 10px;
}

.join_act{
  background: #FAAF3C;
  height: 40px;
  margin-top: -7px;
  /*border-radius: 5px 5px 0 0;*/
  text-align: left;
  line-height: 40px;
  padding: 0 10px;
  color: #FFF;
  text-shadow: none;
}
.join_act span{
  float: right;
}

input #birth_year;
input #birth_month;
input #birth_day;{
  width:50px;
}

#content{
  padding: 50px;
}